In [1]:
import tensorflow as tf
#Data Manipulation
import numpy as np
import pandas as pd

#Visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#Importing Dependencies
%matplotlib inline

/root/anaconda3/envs/tensorflow/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/root/anaconda3/envs/tensorflow/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/root/anaconda3/envs/tensorflow/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/root/anaconda3/envs/tensorflow/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/root/anaconda3/envs/tensorflow/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/root/anaconda3/envs/tensorflow/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [10]:
data = pd.read_excel('data/3월.xlsx')
data.head(3)

,id,username,pass,reply,authdate,requestipaddress,calledstationid,callingstationid,framedipaddress,arubaessidname,arubalocationid
0,331078463,0x11257ED5B293F7ED9AA0A48677F9799A36477048F9A6...,NaN,Access-Accept,2019-03-05 11:16:16,14.48.182.42,06-30-0D-D1-DE-54:U_JNU-K,8C-8E-F2-11-38-A3,NaN,NaN,NaN
1,331078468,0x98A165D4F1F5838C1C74D900BA1ED5C5041D0C2C2885...,NaN,Access-Accept,2019-03-05 11:17:11,168.131.122.115,0E-30-0D-67-46-22,58-E2-8F-AA-77-23,NaN,NaN,NaN
2,331078469,0x98A165D4F1F5838C1C74D900BA1ED5C5041D0C2C2885...,NaN,Access-Accept,2019-03-05 11:17:12,168.131.122.115,0E-30-0D-67-46-22,58-E2-8F-AA-77-23,NaN,NaN,NaN

In [11]:
data.shape

(65640, 11)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65640 entries, 0 to 65639
Data columns (total 11 columns):
id                  65640 non-null int64
username            65640 non-null object
pass                0 non-null float64
reply               65640 non-null object
authdate            65640 non-null datetime64[ns]
requestipaddress    65640 non-null object
calledstationid     65640 non-null object
callingstationid    65640 non-null object
framedipaddress     0 non-null float64
arubaessidname      0 non-null float64
arubalocationid     0 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 5.5+ MB

In [13]:
#framedipaddress, arubaessidname, arubalocationid가 쓸모없는 정보 이므로 삭제
data = data.drop(columns = ['framedipaddress'], axis = 1)
data = data.drop(columns = ['arubaessidname'], axis = 1)
data = data.drop(columns = ['arubalocationid'], axis = 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65640 entries, 0 to 65639
Data columns (total 8 columns):
id                  65640 non-null int64
username            65640 non-null object
pass                0 non-null float64
reply               65640 non-null object
authdate            65640 non-null datetime64[ns]
requestipaddress    65640 non-null object
calledstationid     65640 non-null object
callingstationid    65640 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 4.0+ MB

In [14]:
#pass도 쓸모없는 null data 이므로 삭제
data = data.drop(columns = ['pass'], axis = 1)

In [15]:
data.info()
data.head(3)
data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65640 entries, 0 to 65639
Data columns (total 7 columns):
id                  65640 non-null int64
username            65640 non-null object
reply               65640 non-null object
authdate            65640 non-null datetime64[ns]
requestipaddress    65640 non-null object
calledstationid     65640 non-null object
callingstationid    65640 non-null object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 3.5+ MB

(65640, 7)

In [16]:
data.head(3)

,id,username,reply,authdate,requestipaddress,calledstationid,callingstationid
0,331078463,0x11257ED5B293F7ED9AA0A48677F9799A36477048F9A6...,Access-Accept,2019-03-05 11:16:16,14.48.182.42,06-30-0D-D1-DE-54:U_JNU-K,8C-8E-F2-11-38-A3
1,331078468,0x98A165D4F1F5838C1C74D900BA1ED5C5041D0C2C2885...,Access-Accept,2019-03-05 11:17:11,168.131.122.115,0E-30-0D-67-46-22,58-E2-8F-AA-77-23
2,331078469,0x98A165D4F1F5838C1C74D900BA1ED5C5041D0C2C2885...,Access-Accept,2019-03-05 11:17:12,168.131.122.115,0E-30-0D-67-46-22,58-E2-8F-AA-77-23

In [17]:
data.isnull().sum()

id                  0
username            0
reply               0
authdate            0
requestipaddress    0
calledstationid     0
callingstationid    0
dtype: int64

In [23]:
data.groupby(['requestipaddress']).count()

,id,username,reply,authdate,calledstationid,callingstationid
requestipaddress,,,,,,
14.48.180.187,3778,3778,3778,3778,3778,3778
14.48.180.189,615,615,615,615,615,615
14.48.180.190,5733,5733,5733,5733,5733,5733
14.48.180.191,4955,4955,4955,4955,4955,4955
14.48.180.192,1717,1717,1717,1717,1717,1717
14.48.181.115,1033,1033,1033,1033,1033,1033
14.48.181.116,726,726,726,726,726,726
14.48.181.12,956,956,956,956,956,956
14.48.181.138,142,142,142,142,142,142
14.48.181.139,414,414,414,414,414,414
14.48.181.140,312,312,312,312,312,312
14.48.181.141,1301,1301,1301,1301,1301,1301
14.48.181.142,8,8,8,8,8,8
14.48.181.143,468,468,468,468,468,468
14.48.181.16,175,175,175,175,175,175
14.48.181.17,757,757,757,757,757,757
14.48.181.18,110,110,110,110,110,110
14.48.181.72,241,241,241,241,241,241
14.48.181.75,387,387,387,387,387,387
14.48.182.13,890,890,890,890,890,890
14.48.182.137,168,168,168,168,168,168
14.48.182.14,475,475,475,475,475,475
14.48.182.140,358,358,358,358,358,358
14.48.182.141,106,106,106,106,106,106
14.48.182.3,2079,2079,2079,2079,2079,2079
14.48.182.32,747,747,747,747,747,747
14.48.182.33,1267,1267,1267,1267,1267,1267
14.48.182.38,445,445,445,445,445,445
14.48.182.4,1917,1917,1917,1917,1917,1917
14.48.182.42,1075,1075,1075,1075,1075,1075
...,...,...,...,...,...,...
14.48.182.53,2788,2788,2788,2788,2788,2788
14.48.182.54,51,51,51,51,51,51
14.48.182.55,919,919,919,919,919,919
14.48.182.56,641,641,641,641,641,641
14.48.182.57,1460,1460,1460,1460,1460,1460
14.48.182.70,459,459,459,459,459,459
14.48.182.71,1669,1669,1669,1669,1669,1669
14.48.182.83,1205,1205,1205,1205,1205,1205
14.48.182.84,2109,2109,2109,2109,2109,2109
168.131.122.113,3144,3144,3144,3144,3144,3144
168.131.122.114,3173,3173,3173,3173,3173,3173
168.131.122.115,2098,2098,2098,2098,2098,2098
168.131.122.116,429,429,429,429,429,429
168.131.122.117,191,191,191,191,191,191
168.131.122.118,107,107,107,107,107,107
168.131.122.119,201,201,201,201,201,201
168.131.122.120,59,59,59,59,59,59
168.131.122.121,132,132,132,132,132,132
168.131.122.122,52,52,52,52,52,52
168.131.122.123,399,399,399,399,399,399
168.131.122.124,158,158,158,158,158,158
168.131.122.125,305,305,305,305,305,305
168.131.122.126,445,445,445,445,445,445
168.131.122.127,241,241,241,241,241,241
168.131.122.128,98,98,98,98,98,98
168.131.122.129,287,287,287,287,287,287
168.131.122.130,239,239,239,239,239,239
168.131.122.131,517,517,517,517,517,517
168.131.122.132,499,499,499,499,499,499
168.131.13.221,1,1,1,1,1,1

In [24]:
data_1 = data.loc[(data['requestipaddress']=="168.131.122.113")|(data['requestipaddress']=="168.131.122.114")|(data['requestipaddress']=="168.131.122.115"),:]

In [26]:
data_1.head(10)

,id,username,reply,authdate,requestipaddress,calledstationid,callingstationid
1,331078468,0x98A165D4F1F5838C1C74D900BA1ED5C5041D0C2C2885...,Access-Accept,2019-03-05 11:17:11,168.131.122.115,0E-30-0D-67-46-22,58-E2-8F-AA-77-23
2,331078469,0x98A165D4F1F5838C1C74D900BA1ED5C5041D0C2C2885...,Access-Accept,2019-03-05 11:17:12,168.131.122.115,0E-30-0D-67-46-22,58-E2-8F-AA-77-23
7,331078477,0x98A165D4F1F5838C1C74D900BA1ED5C5041D0C2C2885...,Access-Accept,2019-03-05 11:18:11,168.131.122.115,0E-30-0D-67-46-22,58-E2-8F-AA-77-23
8,331078478,0x98A165D4F1F5838C1C74D900BA1ED5C5041D0C2C2885...,Access-Accept,2019-03-05 11:18:11,168.131.122.115,0E-30-0D-67-46-22,58-E2-8F-AA-77-23
20,331078508,0x9219F897804CF51ACB5B48F1BF8D5962DA4B0D04CBEE...,Access-Accept,2019-03-05 11:22:54,168.131.122.113,0E-30-0D-67-46-D4,1C-5C-F2-57-4D-9A
21,331078509,0x9219F897804CF51ACB5B48F1BF8D5962DA4B0D04CBEE...,Access-Accept,2019-03-05 11:22:54,168.131.122.113,0E-30-0D-67-46-D4,1C-5C-F2-57-4D-9A
22,331078511,0x9219F897804CF51ACB5B48F1BF8D5962DA4B0D04CBEE...,Access-Accept,2019-03-05 11:23:05,168.131.122.114,0E-30-0D-67-46-10,1C-5C-F2-57-4D-9A
23,331078512,0x9219F897804CF51ACB5B48F1BF8D5962DA4B0D04CBEE...,Access-Accept,2019-03-05 11:23:05,168.131.122.114,0E-30-0D-67-46-10,1C-5C-F2-57-4D-9A
46,331078562,0x9219F897804CF51ACB5B48F1BF8D5962DA4B0D04CBEE...,Access-Accept,2019-03-05 11:30:24,168.131.122.114,0E-30-0D-67-46-10,1C-5C-F2-57-4D-9A
48,331078564,0x9219F897804CF51ACB5B48F1BF8D5962DA4B0D04CBEE...,Access-Accept,2019-03-05 11:30:24,168.131.122.114,0E-30-0D-67-46-10,1C-5C-F2-57-4D-9A

In [27]:
data_1.shape

(8415, 7)

In [28]:
data_113 = data_1.loc[(data['requestipaddress']=="168.131.122.113")]
data_114 = data_1.loc[(data['requestipaddress']=="168.131.122.114")]
data_115 = data_1.loc[(data['requestipaddress']=="168.131.122.115")]

In [29]:
data_113.head(10)

,id,username,reply,authdate,requestipaddress,calledstationid,callingstationid
20,331078508,0x9219F897804CF51ACB5B48F1BF8D5962DA4B0D04CBEE...,Access-Accept,2019-03-05 11:22:54,168.131.122.113,0E-30-0D-67-46-D4,1C-5C-F2-57-4D-9A
21,331078509,0x9219F897804CF51ACB5B48F1BF8D5962DA4B0D04CBEE...,Access-Accept,2019-03-05 11:22:54,168.131.122.113,0E-30-0D-67-46-D4,1C-5C-F2-57-4D-9A
70,331078602,0x976972E64E7E3C1F19E6089FF91A1B824057057D3299...,Access-Accept,2019-03-05 11:34:42,168.131.122.113,0E-30-0D-67-46-D4,D0-2B-20-C5-CA-2A
71,331078603,0x976972E64E7E3C1F19E6089FF91A1B824057057D3299...,Access-Accept,2019-03-05 11:34:42,168.131.122.113,0E-30-0D-67-46-D4,D0-2B-20-C5-CA-2A
76,331078609,0xE43B4E6154B337DFC65976774A9186429FAF9CEC058E...,Access-Accept,2019-03-05 11:35:01,168.131.122.113,0E-30-0D-67-46-D4,20-A2-E4-27-5B-14
77,331078610,0xE43B4E6154B337DFC65976774A9186429FAF9CEC058E...,Access-Accept,2019-03-05 11:35:01,168.131.122.113,0E-30-0D-67-46-D4,20-A2-E4-27-5B-14
82,331078619,0x976972E64E7E3C1F19E6089FF91A1B824057057D3299...,Access-Accept,2019-03-05 11:35:56,168.131.122.113,0E-30-0D-67-46-D4,D0-2B-20-C5-CA-2A
83,331078620,0x976972E64E7E3C1F19E6089FF91A1B824057057D3299...,Access-Accept,2019-03-05 11:35:56,168.131.122.113,0E-30-0D-67-46-D4,D0-2B-20-C5-CA-2A
102,331078645,0x0CEAB936E53C72E44EE8AA63CED8CDCE0C3FC8320E26...,Access-Accept,2019-03-05 11:37:38,168.131.122.113,0E-30-0D-67-46-D4,B4-F7-A1-DD-E8-0C
116,331078680,0x976972E64E7E3C1F19E6089FF91A1B824057057D3299...,Access-Accept,2019-03-05 11:43:18,168.131.122.113,0E-30-0D-67-46-D4,D0-2B-20-C5-CA-2A

In [31]:
data_113.to_excel('3월_113.xlsx',sheet_name='Sheet1')
data_114.to_excel('3월_114.xlsx',sheet_name='Sheet1')
data_115.to_excel('3월_115.xlsx',sheet_name='Sheet1')